.rect {
	opacity: 0.8;
}

#my_dataviz {
	width: calc(100vw - 16px);
	border: solid 1px #ddd;
}

/* To make sure there is no space between the DIV and the SVG */
#my_dataviz > * {
	display: block;
}

.y-axis {
	position: absolute;
	background: white;
}

.chart {
	overflow-x: scroll;
	max-width: calc(100vw - 16px);
}

.tick {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */
}

.y-axis .tick > text {
	transform: translateX(-16px) translateY(-28px) rotateZ(270deg);
}