body {
	font-family: 'Roboto', sans-serif;
}

#anim {
	background-image: url('heatmap_sprites.svg');
	width: 892px;
	height: 250px;
	animation: anim 1.5s steps(5) infinite;
  }
  @keyframes anim {
	20% { background-position-y: 0px;}
	80%, 100% { background-position-y: -1250px;}
  }