body {
	font-family: 'Roboto', sans-serif;
}

/*#anim {
	background-image: url('heatmap_sprites.svg');
	width: 922px;
	height: 250px;
}*/

#anim {
	position: relative;
	background-image: url('scatter.jpeg');
	width: 471px;/*857px;*/
	height: 319.5px;/*244px;*/
	/*background-position-x: 435px;*/
}

#ia-1 {
	position: absolute;
	top: 150px;
	left: 150px;
	width: 120px;
	height: 120px;
	content: '';
	background-color: blueviolet;
	opacity: .5;
	border-radius: 50%;
}

#ia-2 {
	position: absolute;
	top: 50px;
	left: 80px;
	width: 250px;
	height: 200px;
	content: '';
	background-color: aquamarine;
	opacity: .05;
}

@keyframes anim {
	0% { background-position-y: 0px;}
	40%, 100% { background-position-y: -1706.4px;}
}